.form {
    padding: 1.5rem;
    border-radius: var(--border--soft);

    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.form>*+* {
    margin-top: 1.5rem;
}

.form__title {
    margin: 0;
}

.form__content>*+* {
    margin-top: .875rem;
}

.form__input.vertical {
    display: flex;
    flex-direction: column;
    gap: .2rem;

    width: 100%;
}

.form__input.horizontal {
    display: flex;
    align-items: center;
    gap: .5rem;
    flex-wrap: wrap;

    max-width: 100%;
}

.form__input-group.horizontal {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.form__input > div {
    display: flex;
    align-items: center;
    gap: 1rem;

    width: 100%;
}

.form__input > div > * {
    flex-grow: 1;
}

.form__input > div > .unit {
    flex-grow: 0;
    flex-basis: 20%;
    text-align: center;
}

.form__input-field {
    padding: .4rem .8rem;
    border: 1px solid var(--accent);
    border-radius: var(--border--soft);

    font-size: var(--text--100);
}

.form__input-field.radio {
    vertical-align: middle;
}

.form__input-field:focus {
    outline: 1px solid var(--accent);
    border-color: transparent;
}

.form__submit {
    display: block;
    width: 100%;

    color: white;
}

.form__submit:hover {
    cursor: pointer;
}