.container {
    text-align: center;
    margin-top: 50px;
}

.container a {
    display: inline-block;
    margin-bottom: 20px; 
    font-size: 18px;
    text-decoration: none;
    color: white; 
    padding: 10px 20px;
    background-color: #4d902c; 
    border-radius: 5px;
    transition: all 0.3s ease;
}

.container a:hover {
    background-color: #4d902c; 
}
