.body {
    margin-left: 2rem;
    margin-right: 2rem;
}

.double-col {
    display: flex;
    gap: 1rem;
}

.double-col>*>*+* {
    margin-top: 1.5rem;
}

.double-col .left {
    flex-basis: 65%;
}

.double-col .right {
    flex-grow: 1;
}

.left {
    padding: 1.5rem;
    border-radius: 12px;
    background-color: white;
}

.left .section__title {
    text-align: center;
}

.left .section__sep {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.left table {
    /* border-collapse: collapse; */
    overflow: hidden;
    border-spacing: 0;

    width: 100%;
    margin: auto auto;
    border-radius: var(--border--soft);
    border-bottom: 1px solid rgb(225, 225, 225);
}

.left th,
.left td {
    padding: .8rem 1rem;
    text-align: center;
}

.left th {
    background-color: rgb(180, 180, 180);
}

.left td:first-child {
    border-left: 1px solid rgb(225, 225, 225);
}

.left td:last-child {
    border-right: 1px solid rgb(225, 225, 225);
}

.left tr:last-child td,
.left tr:not(:first-child) td {
    border-bottom: 1px solid rgb(225, 225, 225);
}

/* Culture */
.left .id {
    width: 15%;
    text-align: center;
}

.left .occupation,
.left .rendement {
    width: 30%;
    text-align: center;
}

/* Ceuilleur */
.left .money {
    text-align: right;
}

.left .name,
.left .date {
    text-align: center;
}